@import "./colors.scss";

#profile {
  border-bottom: 1px solid $green;
  padding-bottom: 20px;
  margin: 20px;
}

#profileDescription {
  text-align: left;

  li {
    margin-left: 40px;
    line-height: 1.5;
  }
}

#profilePicture {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
